networks:
  private:
    internal: true

services:
  web:
    image: nginx:latest
    ports:
      - 80:80
    networks:
      - private
  proxy:
    image: ubuntu/squid:latest
    volumes:
      - ./squid.conf:/etc/squid/squid.conf
    networks:
      - private
      - default
  tunnel:
    image: cloudflare/cloudflared:latest
    command: tunnel --no-autoupdate run
    environment:
      - TUNNEL_TOKEN=${CLOUD_FLARE_TUNNEL_TOKEN}
    networks:
      - private
      - default
