networks:
  monitor:
  private:
    internal: true

services:
  web:
    image: nginx:latest
    ports:
      - 80:80
    networks:
      - private
  proxy:
    image: ubuntu/squid:latest
    volumes:
      - ./squid.conf:/etc/squid/squid.conf
    networks:
      - private
      - default
  tunnel:
    image: cloudflare/cloudflared:latest
    command: tunnel --no-autoupdate run
    environment:
      - TUNNEL_TOKEN=${CLOUD_FLARE_TUNNEL_TOKEN}
    networks:
      - private
      - default

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    networks:
      - monitor
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /sys:/sys:ro
      - /var/lib/docker:/var/lib/docker:ro

  prometheus:
    image: prom/prometheus:latest
    networks:
      - monitor
    volumes:
      - ./prometheus.yaml:/etc/prometheus/prometheus.yml
    ports:
      - 9090:9090
  
  grafana:
    image: grafana/grafana:latest
    networks:
      - monitor
    ports:
      - 3000:3000
  